@import url("background.css");

.col {
	border-color: blue;
	border-width: 0.2rem;
	border-style: solid;
}

dl {
	margin-bottom: 0;
}

.col + .col {
	margin-left: 1rem;
}

tr,
td,
th {
	border: aquamarine solid 0.1rem;
}
