:root {
	--black-color: #000;
	--white-color: #f0f8ff;
}

:other {
	--black-color: #fff;
}

body {
	background-color: var(--black-color);
	color: var(--white-color);
}

table,
th,
td {
	border: solid #3202ff;
	border-collapse: collapse;
}

li {
	color: rgb(255, 155, 5);
}

li:nth-child(1) {
	color: chartreuse;
}

th {
	background: black;
}

tr:nth-child(even) td {
	color: red;
}
