body {
	background-color: black;
	color: white;
}

label {
	display: block;
	font-weight: bold;
	font-size: 1.2rem;
}

input {
	width: 9rem;
	border-radius: 0.3rem;
	border-style: solid;
	border-color: #e78e00;
	background-color: #fff5e3;
	margin-bottom: 1.5rem;
}

input:focus {
	outline: #000000 solid;
}

.center {
	text-align: center;
}
