body {
	background-color: black;
	color: aliceblue;
}

h1 {
	font-family: Dancing Script;
	text-align: center;
	color: #ff4040;
	font-size: 32px;
}

p {
	padding: 4px;
	font-size: 1.1rem;
	font-weight: 550;
}

.btn {
	border-radius: 0.3rem;
	border-style: solid;
	background-color: #0099ff;
	color: black;
	size: 0.5rem 1rem;
}

.btn-size {
	font-size: 32px;
}
