@import url("../../background.css");

:root {
	--blue-color: #3202ff;
	--orange-color: #ff9b05;
	--green-color: #7fff00;
	--black-color: #000;
	--red-color: #f00;
}

table,
th,
td {
	border: solid var(--blue-color);
	border-collapse: collapse;
}

li {
	color: red;
}

li li {
	color: rgb(0, 255, 64);
}

th {
	background: var(--black-color);
}

tr:nth-child(even) td {
	color: var(--red-color);
}
