@import url("../../background.css");

:root {
	--green-color: palegreen;
	--pink-color: palevioletred;
	--aquamarine-color: aquamarine;
}

body {
	font-size: 1.3rem;
}

p {
	outline-color: var(--pink-color);
	outline-style: solid;
	outline-width: 0.18rem;
	border-radius: 0.4rem;
	margin: 1rem;
	padding: 1rem;
}

a {
	outline-color: var(--aquamarine-color);
	outline-width: 0.1rem;
	outline-style: solid;
	border-radius: 0.4rem;
	text-decoration-color: var(--green-color);
	color: var(--green-color);
	margin-top: 1rem;
}

.btn {
	display: inline-block;
	border-color: aquamarine;
	border-style: solid;
	color: white;
	padding: 0.5rem;
}
