@import url("../../background.css");

/* & Tag Selector */
body {
	text-align: center;
}

h2 {
	margin-top: 0;
}

s {
	color: crimson;
}

b {
	color: aqua;
}

u {
	--greenish-color: chartreuse;

	color: var(--greenish-color);
	text-decoration-color: var(--greenish-color);
}

em {
	color: rgb(198, 85, 255);
}

a {
	--coral-color: coral;

	text-decoration-color: var(--coral-color);
	color: var(--coral-color);
}

/* & ID Selector */
#first_article {
	border: 0.2rem solid #ffef64;
	border-radius: 0.3rem;
	margin-right: 1rem;
	margin: 0.5rem;
}
